.error-message{
    color: var(--ion-color-danger);
}

ion-content{
    --background: url(../../../assets/home.png);
    background-size: auto !important;
    -webkit-background-size: auto !important;
}

.card-contain {
    background: rgba(223, 212, 212, 0.9);
    font-family: 'Trattatello', fantasy;
}
